<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>
            发票管理系统
        </title>
        <!-- link rel="shortcut icon" href="{{ MEDIA_URL }}" type="image/x-icon"/-->

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/ui.css' %}"/>

        <script  type="text/javascript" src="{% static 'jquery3.js' %}"></script>
        <script  type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script  type="text/javascript" src="{% static 'js/conf.js' %}"></script>
        <script  type="text/javascript" src="{% static 'js/common.js' %}"></script>
        <script  type="text/javascript" src="{% static 'vue.min.js' %}"></script>

    </head>
    <body>
        <script>
            var host = head + '{{ request.get_host }}'
        </script>
        {% block body %}

        {% endblock body %}

        {% block extra %}

        {% endblock extra %}
    </body>
</html>