
/*
primary: 12c598
primary thin: 5fd2b5
primary light: 35d2ab
primary grey: 0eb389
primary dark: 006c51

reverse: ff8740
reverse thin: ffa773 
*/

.txt-main {
    color: #0da780;
}
.txt-red {
    color: rgb(185, 18, 18);
}

button {
    border: none;
    background: none;
    padding: 7px 18px;
    border-radius: 3px;
    transition: all .2s;
    -webkit-tap-highlight-color: transparent; 
    outline: 0;
}

.btn-main,
.btn-main:active,
.btn-main:focus {
    background: #12c598;
    border: 1px solid #12c598;
    color: white;
}

.btn-main:hover {
    background: #03be90;
    border-color: #03be90;
}

.btn-main-outline,
.btn-main-outline:active,
.btn-main-outline:focus {
    background: white;
    border: 1px solid #12c598;
    color: #12c598;
}
.btn-main-outline:hover {
    background: #12c598;
    color: white;
}

.card {
    border-radius: 5px;
    display: inline;
    min-width: 50px;
    min-height: 50px;
    padding: 17px 17px;
    box-shadow: 1px 1px 5px rgba(80, 107, 101, 0.15);
    margin-right: 4px;
    border: 1px solid transparent;
}
.card-main {
    background: #54d1b2;
    border: 1px solid #54d1b2;
    color: white;
}

.table-wrapper {
    border: 1px solid #4f4f4f;
}

.menu {
    padding: 15px;
}
.menu-item {
    padding: 15px 18px;
}
.menu-item:hover {
    background: #f7f7f7;
}
.menu-item-active {
    color: #54d1b2;
    background: #f9f9f9;
    border-radius: 3px;
}