{% extends './base_pdf.html' %}
{% load staticfiles %}

{% block center %}
<div class="container-fuild p-5" id="app">
  <div class="row">
    <div class="col-sm-12 ">
      {% include './components/pdf_header.html' %}
    </div>
    <div class="col-sm-12">
      
      <div class="mt-2 fw-b fs-vw-30">
        發票
      </div>

    </div>
  </div>
  {% if status == True %}
  <div class="row">
    <div class="col-sm-12">
      <div class="w-100">
        <div class="br-1 msg-left p-1">
          {% include './invoice/pdf_invoice_member.html' %}
        </div>
        <div class="br-1 msg-right p-1">
          {% include './invoice/pdf_invoice_msg.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-sm-12">
      {% include './invoice/pdf_invoice_data.html' %}
    </div>
  </div>
  <div class="row mt-4 pt-4">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
      {% include './components/pdf_footer.html' %}
    </div>
  </div>
  {% else %}
  <div class="p-5">無結果</div>
  {% endif %}
</div>

<script>
  const invoiceFooter = `
    <tr class="pdf-table-freight-footer pdf-tr br-t-pdf">
      <td>備註</td>
      <td colspan="3">
      </td>
      <td class="footer-title-td">合計</td>
      <td>HK$</td>
      <td></td>
    </tr>
    <tr class="pdf-table-freight-footer pdf-tr">
      <td></td>
      <td colspan="3">
      </td>
      <td class="footer-title-td">附加費</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="pdf-table-freight-footer pdf-tr">
      <td></td>
      <td colspan="3">
      </td>
      <td class="footer-title-td">折扣</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="pdf-table-freight-footer pdf-tr">
      <td></td>
      <td colspan="3">
      </td>
      <td class="footer-title-td">總額</td>
      <td>HK$</td>
      <td class="text-right pr-2 res_price"></td>
    </tr>
  `
</script>

<script>
  const listing_id = '{{ listing.id }}'
  /*
  let db = []

  for (var i= 0; i< 100; i++ ) {
    db.push({
      count: "1.00",
      id: 5300,
      named: "豆腐花",
      num: "941",
      price: "1",
      res: 1,
      unit: 8,
      zk: ""
    })
  }
  */
  
  loadData = function(db) {
    let res_price = 0
    const listing = $('#listing')
    listing.html('')
    for (const i in db) {
      const e = db[i]

      const index = parseInt(i) + 1
      const unit = ser_unit(e.unit)
      const item_prices = floatMul(e.count, e.price) + ''

      const html = `
        <tr class="pdf-tr">
          <td>${index}</td>
          <td>${e.num}</td>
          <td class="text-left pl-1">${e.named}</td>
          <td>
            <div class="count-left">${e.count}</div>  
            <div class="count-right">${unit}</div>  
          </td>
          <td class="text-right pr-1">${e.price}</td>
          <td></td>
          <td class="text-right pr-1">${item_prices}</td>
        </tr>
      `
      listing.append(html)

      res_price = floatAdd(res_price, item_prices)
    }
    listing.append(invoiceFooter)
    listing.find('.res_price').html(res_price)
  }
  
  loadingLC = function() {
    $.ajax({
      url: api + '/listing_content/?format=json&listing=' + listing_id,
      type: 'GET',
      headers: {
          Accept: "application/json; charset=utf-8",
      },
      beforeSend:function(xhr, settings){
          xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val() );
      },
      success: function(e) {
        
        let content = e[0].content
        if (content != undefined) {
          content = JSON.parse(content)
          loadData(content)

          printPDF()
        }
      }
    })
  }
  loadingLC()
</script>

{% endblock %}