{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <td>
                客人编号
            </td>
            <td>
                客人名称
            </td>
            <td>
                送货地址
            </td>
            <td align="center">
                报价清单
            </td>
            <td align="center">
                操作
            </td>
        </tr>
    </thead>
    <tbody>
        {% for m in member %}
        <tr>
            <td>
                {{ m.num }}
            </td>
            <td>
                {{ m.named }}
            </td>
            <td>
                {{ m.addr }}
            </td>
            <td align="center">
                <span class="txt-main hand">
                    查看
                </span>|
                <span class="txt-main hand" onclick="goPlus({{ m.id }})">
                    增加
                </span>
            </td>
            <td align="center">
                <div class="txt-red hand">
                    删除
                </div>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    goPlus = function(id) {
        go('/listing/?option=plus&member_id=' + id)
    }
</script>

{% endblock content %}