
<table class="br-1 pdf-table w-100 fs-vw-18">
  <thead class="br-td-1 text-center">
    <tr>
      <td width="7%">項目</td>
      <td width="11%">貨品編號</td>
      <td width="30%">描述</td>
      <td width="13.24%">數量</td>
      <td width="11.76%">單價</td>
      <td width="7%">折扣</td>
      <td width="10%">金額</td>
    </tr>
  </thead>
  <tbody class="br-td-1 text-center" id="listing">

  </tbody>
</table>

<script>
  const invoiceFooter = `
    <tr class="pdf-table-freight-footer pdf-tr br-t-pdf">
      <td>備註</td>
      <td colspan="3">
      </td>
      <td class="footer-title-td">合計</td>
      <td>HK$</td>
      <td></td>
    </tr>
    <tr class="pdf-table-freight-footer pdf-tr">
      <td></td>
      <td colspan="3">
      </td>
      <td class="footer-title-td">附加費</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="pdf-table-freight-footer pdf-tr">
      <td></td>
      <td colspan="3">
      </td>
      <td class="footer-title-td">折扣</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="pdf-table-freight-footer pdf-tr">
      <td></td>
      <td colspan="3">
      </td>
      <td class="footer-title-td">總額</td>
      <td>HK$</td>
      <td class="text-right pr-2">000</td>
    </tr>
  `
</script>