
<table class="br-1 pdf-table w-100 fs-vw-18">
  <thead class="br-td-1 text-center">
    <tr>
      <td width="7%">{{ PDF_LANG.PDF_LISTING.index }}</td>
      <td width="11%">{{ PDF_LANG.PDF_LISTING.product }}{{ PDF_LANG.PDF_LISTING.num }}</td>
      <td width="30%">{{ PDF_LANG.PDF_LISTING.named }}</td>
      <td width="13.24%">{{ PDF_LANG.PDF_LISTING.quantity }}</td>
      <td width="11.76%">{{ PDF_LANG.PDF_LISTING.price }}</td>
      <td width="7%">{{ PDF_LANG.PDF_LISTING.discount }}</td>
      <td width="10%">{{ PDF_LANG.PDF_LISTING.money }}</td>
    </tr>
  </thead>
  <tbody class="br-td-1 text-center" id="listing">

  </tbody>
</table>