
  <table class="w-100 fs-vw-18">
    <tbody class="">
      <tr>
        <td width="48%">發票編號：</td>
        <td>{{ listing.num }}</td>
      </tr>
      <tr>
        <td>發票日期：</td>
        <td>{{ listing.listing_time| date:"Y-m-d" }}</td>
      </tr>
      <tr>
        <td>付款期限：</td>
        <td>{{ listing.pay_time.named }}</td>
      </tr>
      <tr>
        <td>客戶編號：</td>
        <td>{{ membery.num }}</td>
      </tr>
      <tr>
        <td>付款方式：</td>
        <td>{{ payment }}</td>
      </tr>
      <tr>
        <td>銷售員：</td>
        <td></td>
      </tr>
    </tbody>
  </table>