
  <table class="w-100 fs-vw-18" >
    <tbody class="">
      <tr>
        <td width="18%">客戶：</td>
        <td colspan="2">0000</td>
      </tr>
      <tr>
        <td>地址：</td>
        <td colspan="2">0000</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td>聯絡人：</td>

        <td width="40%">0000</td>

        <td></td>
      </tr>
      <tr>
        <td>電話：</td>

        <td>0&nbsp;0000</td>

        <td>傳真：</td>
      </tr>
      <tr>
        <td>電郵地址：</td>

        <td colspan="2">0000</td>
        <!-- td v-else width="40%">
          
          <input v-model="member_contact_email" class="pdf-input" placeholder="電郵地址，可以為空">
          
        </td -->
      </tr>
    </tbody>
  </table>